.h5p-text-content:has(.h5p-image) {
  overflow: hidden;
  padding: 0;
}

.h5p-text-content > .h5p-image {
  height: 100%;
  width: 100%;
}
.h5p-text-content > .h5p-image > img {
  margin: 0 auto;
  object-fit: contain;
}

.h5p-text-dialog.h5p-video {
  height: auto;
  padding: 0;
  width: 90%;

  &:has(.h5p-brightcove) {
    aspect-ratio: var(--brightcove-aspect-ratio);
  }

  .h5p-text-content {
    height: auto;
    overflow: hidden;
    padding: 0;

    & > .h5p-video {
      width: 100%;
      height: 100%;
      padding: 0;

      > video::-webkit-media-controls-fullscreen-button {
        display: none;
      }

      &.h5p-youtube {
        background-color: #000;
      }
    }
  }
}

.h5p-container.h5p-bightcove-measurement-container-offscreen {
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateX(-110vw);
  max-width: 1vw;
}
